node_modules
package-lock.json
.config.js
/public/fonts
/public/styles/screen.css
/public/styles/screen.css.map
/public/images/fanart/*.jpg
/public/images/security/*.jpg
/public/images/security/events/*.jpg
/public/images/security/events/*.mp4
/public/images/art/
/public/images/thumbs/
.index-dev.js
/public/images/security
/public/images/security/events_ln