<div class="container" ng-controller="controlsController as controls">

    <div class="row">
        <div class="section-heading">Doors</div>
        <div class="col col-xs-6">
            <div buzz class="card" ng-click="controls.garage()">
                <i class="fa fa-fw fa-upload big-icon"></i>
                <div class="card-text">Open Garage Door</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="section-heading">Lights</div>
        <div class="col col-sm-4">
            <div class="card">
                <i class="fa fa-fw fa-lightbulb-o big-icon"></i>
                <div class="card-text">Living Room Lamp</div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card">
                <i class="fa fa-fw fa-lightbulb-o big-icon"></i>
                <div class="card-text">Living Room Lamp</div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card">
                <i class="fa fa-fw fa-lightbulb-o big-icon"></i>
                <div class="card-text">Living Room Lamp</div>
            </div>
        </div>        
    </div>

</div>