<div ng-controller="mediaController as media">
    <div class="container">

        <div class="row">
            <div class="section-heading">Chromecast</div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <img ng-src="{{media.playing.size == 1 ? media.playing.Metadata[0].art : '/images/art/default.jpg'}}">
                    <div class="text-right card-text">{{media.playing.size == 1 ? media.playing.Metadata[0].title : 'Not Playing'}}</div>
                </div>
            </div>            
        </div>

        <div class="row">
            <div class="section-heading">Latest Shows</div>
        </div>
        <div class="row">
            <div class="col" ng-repeat="show in media.shows">
                <div buzz class="card">
                    <img ng-click="media.grow(show)" ng-src="{{show.fanart}}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="section-heading">Latest Movies</div>
        </div>
        <div class="row">
            <div class="col" ng-repeat="movie in media.movies">
                <div class="card">
                    <img ng-src="{{movie.thumb}}">
                </div>
            </div>
        </div>        

    </div>

    <div ng-show="media.showModal" class="shade">        
    </div>

    <div ng-show="media.showModal" class="container modal">
        <div class="row">
            <div class="col">
                <div buzz class="card" ng-click="media.grow(media.modal)">
                    <img ng-src="{{media.modal.fanart}}">
                    <div class="card-text" ng-bind="media.modal.showtitle + ' - ' + media.modal.name"></div>
                    <p ng-bind="media.modal.description"></p>
                </div>
            </div>            
        </div>
    </div>
</div>