<div class="container" ng-controller="securityController as security" ng-cloak>

    <div class="row">
        <div class="section-heading">System Status</div>
        <div class="col">
            <div buzz class="card">
                <i buzz id="toggle-security" ng-class="{'fa-ban' : security.status.result == 0, 'fa-video-camera' : security.status.result == 1}" class="fa fa-fw big-icon fa-ban" ng-click="security.toggle()"></i>
                <div class="card-text" ng-bind="security.status.result == 1 ? 'System is Active' : 'System is Disabled'"></div>
            </div>
        </div>
        <div class="col">
            <div buzz class="card" ng-click="security.showModal = !security.showModal">
                <i class="fa fa-fw fa-film big-icon"></i>
                <div class="card-text" ng-bind="security.todayseventcount + ' Events'"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="section-heading">Living Room</div>
        <div class="col-12">
            <div class="card">
                <div class="fade-mask">
                    <img class="fade-in" fade-in src="/images/security/2.jpg" ng-src="{{security.cam2}}">
                </div>
            </div>
        </div>
        <div class="section-heading">Back Room</div>
        <div class="col-12">
            <div class="card">
                <div class="fade-mask">
                    <img class="fade-in" fade-in src="/images/security/1.jpg" ng-src="{{security.cam1}}">
                </div>
            </div>
        </div>
    </div>

    <div ng-show="security.showModal" class="shade" ng-click="security.showModal = !security.showModal"></div>

    <div ng-show="security.showModal" class="container modal">            
        <div class="row">

            <div class="col-12">
                <select id="day-select" style="width: 100%; z-index: 9999" name="day" ng-change="security.getDay(security.selected)" ng-model="security.selected">
                    <option value="" hidden>Showing Today's Events</option>
                    <option ng-repeat="day in security.days" value="{{day.day}}">{{day.day | date}}</option>
                </select>
            </div>

            <div class="col-12">
                <div buzz class="card" ng-repeat="event in security.events">
                    <video controls poster="{{event.poster}}" preload="none">
                        <source ng-src="{{event.video}}" type="video/mp4">
                    </video>
                </div>
            </div>            
        </div>
    </div>

    <div ng-show="security.showModal" class="close-modal">
        <i class="fa fa-fw fa-close" ng-click="security.showModal = !security.showModal"></i>
    </div>

</div>