.page{
    position:absolute; 
    text-align:center;
    top:2rem;
    width:100%;
    box-sizing: border-box;
    padding-bottom: 4rem;
    background: #DDD;
}

.container{
    padding: 0 20px;
    .col{
        padding: 0 10px;
    }    
}

.modal{
    transition: .5s all ease-in-out;
    z-index: 100;
    top: 1rem;
    position: absolute;
    left: 0;
    margin-bottom: 4rem;
    &.ng-hide{
        top: 100vh;
    }

    .card{
        margin-bottom: 1rem;
    }

    video{
        width: 100%;
    }
    select{
        margin-bottom: 1rem;
    }
}

.shade{
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s all ease-in-out;
    width: 100vw;
    height: 100vh;
    background-color: rgba(50, 50, 50, .5);
    opacity: 1;
    overflow: scroll;
    z-index: 50;
    &.ng-hide{
        opacity: 0;
    }
}

.close-modal{
    position: fixed;
    right: 1rem;
    bottom: 5rem;
    text-align: center;
    width: 4rem;
    height: 4rem;
    border-radius: 5rem;
    background: #FF5722;
    color: #FFF;
    font-size: 2rem;
    z-index: 500;
    box-shadow: 0 2px 5px rgba(50, 50, 50, .5);
    i{
        line-height: 4rem;
    }
}

.drive-container{
    position: relative;
    width: 100%;
    border: 1px solid #DDD;
    overflow: hidden;
    background: #427cd3;
    color: #FFF;
    text-align: left;
    margin-bottom: .25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    &:last-of-type{
        margin-bottom: 0;
    }
    .drive-name{
        margin-left: .5rem;
        z-index: 3;
    }
    .drive-percentage{
        position: absolute;
        right: .5rem;
        z-index: 3;
        font-weight: light;
    }
    .drive-space{
        background-color: #FF5722;
        z-index: 1;
    }
}

select{
    border: none;
    border-radius: 3px;
    background-color: #FFF;
    padding: .5rem;
    font-size: 1.25rem;
    text-align: center;
}

.thermostat{
    box-shadow: 0 2px 5px #AAA inset;
    height: 2rem;
    display: flex;
    justify-content: center;   
    border-radius: 2px;
    flex: 8;
    position: relative;
    .ticks{
        text-align: center;
        flex: 1;
        height: 2rem;
        .tick{
            content: '';
            width: 1px;
            height: 2rem;
            background: linear-gradient(#AAA, #DDD);
        }        
    }
    .needle, .current{
        left: 0;
        width: 3px;
        z-index: 50;
        height: 2rem;
        background: $orange;
        position: absolute;
        top: 0;
        transition: .5s ease-in-out;
    }
    .current{
        background: linear-gradient(#AAA, #DDD) !important;
        z-index: 40 !important;
    }
}

.heating{
    background: $orange;
    .needle, .current{        
        width: 5px;
    }
    .needle{
        background: #FFF;
    }
}

.temperature-control{
    color: #AAA;
}