ul.main-navigation{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    list-style: none;
    display: flex;
    text-align: center;
    margin: 0;
    z-index: 9999;
    background: #DDD;
    box-shadow: -1px 0 10px rgba(100,100,100,.5);
    li{
        flex: 1;
        padding: .75rem .5rem .5rem;
        background: #DDD;
        &.active{
            background: #FFF;
            a, h6{
                color: #FF5722;
            } 
        }
    }
    a{
        text-decoration: none;
        color: #888;
        font-size: 1.25rem;
        transition: 200ms all ease-in-out;               
    }
    h6{
        margin: 0;
        font-size: .75rem;
        color: #666
    }
}

.nav-spacer{
    height: 4rem;
    width: 100%;
}