.page-title{
    font-weight: bold;
    text-align: center;
    padding: .5rem;
    background: #427cd3;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 9999;
    color: #FEFEFE;
}
.title-spacer{
    height: 2.5rem;
    width: 100%;
}

.section-heading{
    width: 100%;
    font-weight: normal;
    font-size: 1.1rem;
    margin: .5rem 0;
    text-align: center;
}

.text-right{
    text-align: right!important;
}

.text-left{
    text-align: left;
}

p{
    font-size: .75rem;
    margin: 0;
    line-height: 1rem;
}
.card-text{
    margin: .25rem 0;
    font-size: .75rem;
    line-height: .75rem;
}